@import "../../assets/styles/colors.scss";

.HomeRouter {
  width: 100%;
  height: 100%;

  &-offcanvas {
    height: 85vh;
    .Cart {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-height: 100%;

      &-header {
        padding: 1rem 0;
        &-shopping {
          margin-right: 1rem;
        }
      }

      &-selected-list-item {
        padding: 0 2rem;
        justify-content: space-between !important;
      }
    }
  }
}

.ShoppingCart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: #103519;
  bottom: 0.8rem;
  left: 1.5rem;
  color: white;
  position: relative;
  border-radius: 50%;

  &-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    color: black;
    font-size: 0.8rem;
  }

  &-icon {
    width: 1.5rem !important;
    height: 1.5rem;
  }
}

@media screen and (min-width: 576px) {
  .ShoppingCart {
    display: none;
  }
}
