@import "../../assets/styles/colors.scss";
@import "../../assets/styles/fonts/fonts.scss";

.Profile {
  background-color: #fff;
  margin: 2rem 0.5rem;
  border-radius: 20px;
  padding: 2rem;
  font-family: BaseFont, sans-serif;

  &-info {
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1) !important;
    &-header {
      font-size: 0.8rem;
      padding-bottom: 2rem;
      border-bottom: 1px solid rgba(40, 73, 58, 0.1);

      &-icon {
        margin-left: 0.5rem;
      }

      &-btn {
        background-color: #fff;
        color: $background-color;
        border-radius: 20px;
        font-size: 0.7rem;
      }
    }

    &-form {
      margin-top: 2rem;
      font-family: BaseFont, sans-serif;
      font-size: 0.8rem;

      input {
        font-family: BaseFont, sans-serif;
        font-size: 0.8rem;
      }

      &-btn {
        font-family: BaseFont, sans-serif;
        font-size: 0.8rem;
        border-radius: 1rem;
        margin: auto;
      }

      &-gender {
        z-index: 500;
        width: 47%;
      }

      &-birthday {
        width: 47% !important;
      }
    }
  }

  &-address {
    margin-top: 2rem;
    &-title {
      margin-bottom: 1rem;
      font-size: 0.8rem;

      &-icon {
        width: 1.5rem !important;
        height: 1.5rem;
        margin-left: 0.5rem;
      }
    }
    &-btn {
      font-size: 0.8rem;
      border-radius: 1rem;
    }
  }

  &-code {
    border-top: 1px solid rgba($color: #000000, $alpha: 0.1) !important;
    padding-top: 1rem;
    &-text {
      font-size: 0.8rem;
      margin-bottom: 0.5rem;
    }

    &-icon {
      margin-left: 0.4rem;
    }

    &-btn {
      background-color: #fff;
      color: $background-color;

      &:active,
      &:hover,
      &:focus {
        background-color: #fff;
        color: $background-color;
        box-shadow: unset;
      }
    }
  }
}

.icon {
  margin-left: 1rem;
}

@media screen and (min-width: 768px) {
  .Profile {
    &-info {
      &-header {
        font-size: 1rem;

        &-icon {
          width: 1.2rem !important;
          height: 1.2rem;
          margin-left: 1rem;
        }

        &-btn {
          font-size: 1rem;
        }
      }

      &-form {
        font-size: 1rem;

        input {
          font-size: 1rem;
        }

        &-name {
          width: 48% !important;
        }
        &-family {
          width: 48% !important;
        }

        &-email {
          width: 48% !important;
        }

        &-mobile {
          width: 48% !important;
        }
        &-btn {
          font-size: 1rem;
          border-radius: 2rem;
          margin: 1rem auto 0;
          padding: 0.5rem 2rem;
        }

        &-gender {
          z-index: 500;
          width: 47%;
        }

        &-birthday {
          width: 47% !important;
        }
      }
    }

    &-address {
      margin-top: 2rem;
      &-title {
        margin-bottom: 1rem;
        font-size: 1rem;

        &-icon {
          width: 2rem !important;
          height: 2rem;
          margin-left: 0.5rem;
        }
      }
      &-btn {
        font-size: 0.8rem;
        border-radius: 1rem;
      }
    }

    &-code {
      &-text {
        font-size: 1.2rem;
        margin-bottom: 0.8rem;
      }

      &-icon {
        margin-left: 0.5rem;
      }

      &-btn {
        font-size: 1.2rem;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .Profile {
    &-code {
      &-text {
        font-size: 1rem;
        margin-bottom: 0.8rem;
      }

      &-icon {
        margin-left: 0.5rem;
      }

      &-btn {
        font-size: 1rem;
      }
    }
  }
}
