@import '../../assets/styles/colors.scss';
@import '../../assets/styles/fonts/fonts.scss';

.CartempRouter{
    background-color: $background-color;
    background-image: url('../../assets/image/background-image.png');
    padding-top: 2rem;
    align-items: center;
   
}

