@import "../../assets/styles/colors.scss";
@import "../../assets/styles/fonts/fonts.scss";

.PofileRouter{
    height: 100%;
    background-image: url('../../assets/image/background-image.png');
    background-color: $background-color;
}